# Build directories
/cmake-build-*/
/build/
/out/

# IDE files
/.idea/
*.iml
*.iws
.vscode/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Dependency files
*.d

# Temp files
*~
.DS_Store

# CLion specific
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt.user
/cmake-build-debug/
.idea/